# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/
out/

# Ignore environment-specific files


.env 


# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore dependency lock files
yarn.lock
package-lock.json
